@charset 'utf-8';

/* content  start */
#footer{
	height:1000px;
}
.content{
	width:90%;
	margin:auto;
	padding:90px 0;
}
.content .phone{
	float:left;
	width:20%;
}
.content .phone h4{
	font-size:16px;
	line-height:30px;
}
.content .phone span{
	display:block;
	font-size:20px;
}
.content .worktime{
	float:left;
	width:48%;
}
.content .worktime h4{
	font-size:20px;
	font-weight:100;
}
.content .worktime span{
	display:block;
	font-size:14px;
	line-height:30px;
}
.content img{
	float:right;
	display:inline-block;
}
/* content  end */

/* link start */
.link{
	width:90%;
	margin:auto;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	color:#61b0ff;
	font-size:15px;
	line-height:40px;
}
/* link end */

/* desc-container  start */
.desc-container{
	width:90%;
	margin:auto;
	padding-top:50px;
	font-size:14px;
}
.desc-container .friend{
	width:40%;
	height:100%;
}
.desc-container .friend h4{
	padding-bottom:30px;
	font-size:18px;
	font-weight:600;
}
.desc-container .friend p{
	font-size:14px;
}
.desc-container .friend .time{
	width:80%;
	padding-bottom:30px;
}
.desc-container .friend span{
	display:inline-block;
	font-size:16px;
	font-weight:600;
}
.desc-container .friend a{
	color:#61b0ff;
	font-size:16px;
}
.desc-container .friend .kf{
	padding-bottom:30px;
	font-size:16px;
	font-weight:600;
}
.desc-container .friend img{
	display:block;
	width:80%;
	padding-top:8px;
}

/* description  start */
.desc-container .description{
	width:60%;
	height:100%;
}
.desc-container .description dl:not(.on){
	float:left;
	margin-right:8%;
}
.desc-container .description dl dt{
	font-size:16px;
	font-weight:600;
	line-height:35px;
}
.desc-container .description dl dd{
	line-height:35px;
}
/* description  end */

/* desc-container  end */

/* footer-copyright  start*/
.footer-copyright{
	width:90%;
	margin:auto;
	padding-top:50px;
	text-align:center;
}
.footer-copyright p{
	width:90%;
	margin:auto;
	font-size:14px;
	line-height:45px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.footer-copyright img.copy{
	display:block;
	width:40px;
	margin:auto;
	padding:20px 0;
}
.footer-copyright span.add{
	display:block;
	padding-top:20px;
}
/* footer-copyright  end*/