@charset 'utf-8';
/* main-super-container start */
.main-super-container{
	height:910px;
	max-width:1000px;
	background-color:#fff;
	left:0;
	right:0;
	margin:auto;
	padding-bottom:100px;
	text-align:center;
	}
.main-super-container h2{
	padding-top:110px;
	font-size:50px;
	line-height:82px;
	font-weight:100;
	color:#989898;
	}
.main-super-container p{
	font-size:20px;
	line-height:55px;
	padding-bottom:80px;
	color:#787878;
	}
.main-super-container .video-container{
	height:703px;
	background-image:url('../images/45.png');
	}
.video-container video{
	width:756px;
	height:405px;
	object-fit:cover;
	object-position:3px 19px;
	}
.video-container img{
	display:none;
	}


/* main-super-container end */

/*section start*/
.section{
	padding:5% 0%;
	text-align:center;
	}
.section .text{
	display:inline-block;
	max-width:500px;
	vertical-align:middle;
	}
.section .text h2{
	font-size:40px;
	line-height:60px;
	font-weight:100;
	letter-spacing:4px;
	text-align:left;
	}
.section .text p{
	margin-top:40px;
	font-size:16px;
	line-height:32px;
	text-align:left;
	}
.section img{
	display:inline-block;
	width:47%;
	margin-right:2%;
	vertical-align:middle;
	}
.section-one{
	background-color:#f9f9f9;
	}
/*section end*/
.section-one .text{
	color:#939493;
	}
/* section-two start */
.section-two{
	background-color:#fff;
	}
.section-two .text{
	margin-right:2%;
	text-align:left;
	margin-left:10px;
	}
.section-two img{
	width:47%;
	margin-right:0;
	}
/* section-two end */

.section-three {
	background-color:#f9f9f9;
	}
.section-three h2{
	color:#535353;
	}
.section-three p{
	color:#808080;
	}
.section-four a{
	display:none;
	color:#39f;
	font-size:14px;
	bottom:30px;
	left:40px;
}
.section-two .text h2,.section-four .text h2{
	color:#69a3ff;
	}
.section-two .text p,.section-four .text p{
	color:#696969;
	}

/* advantage  start */
.advantage{
	height:820px;
	background-color:#f7f7f7;
	text-align:center;
}
.advantage h3{
	padding:155px 0 45px 0;
	font-size:40px;
	font-weight:100;
	color:#535b59;
}
.advantage p{
	padding-bottom:32px;
	font-size:16px;
	color:#494949;
}
.advantage ul{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-content:center;
	width:910px;
	height:360px;
	margin:auto;
}
.advantage ul li{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-content:center;
	width:32%;
	height:170px;
	border:1px solid #ccc;
	margin:5px;
	transition:border-color .5s,background-color .5s;
}
.advantage ul li:hover{
	background-color:#fff;
	border-color:#61b0ff;
}
.advantage ul li i{
	display:block;
	width:82px;
	height:70px;
	transition:.5s;
}
.advantage ul li span{
	width:100%;
	height:17px;
	font-size:16px;
}
.advantage ul li:nth-child(1) i{
	background-image:url('../images/hj.png');
}
.advantage ul li:nth-child(1):hover i{
	background-image:url('../images/hj1.png');
}
.advantage ul li:nth-child(2) i{
	background-image:url('../images/hc.png');
}
.advantage ul li:nth-child(2):hover i{
	background-image:url('../images/hc1.png');
}
.advantage ul li:nth-child(3) i{
	background-image:url('../images/ys.png');
}
.advantage ul li:nth-child(3):hover i{
	background-image:url('../images/ys1.png');
}
.advantage ul li:nth-child(4) i{
	background-image:url('../images/hb.png');
}
.advantage ul li:nth-child(4):hover i{
	background-image:url('../images/hb1.png');
}
.advantage ul li:nth-child(5) i{
	background-image:url('../images/yjx.png');
}
.advantage ul li:nth-child(5):hover i{
	background-image:url('../images/yjx1.png');
}
.advantage ul li:nth-child(6) i{
	background-image:url('../images/picys.png');
}
.advantage ul li:nth-child(6):hover i{
	background-image:url('../images/picys1.png');
}

/* advantage  end */

/* free  start */
.free{
	text-align:center;
}
.free .free-container h3{
	padding-top:170px;
	font-size:38px;
	font-weight:100;
	letter-spacing:2px;
}
.free .free-container p{
	padding:40px 0 30px 0;
	font-size:18px;
}
.free .free-container ul{
	display:flex;
	justify-content:center;
	align-content:center;
	width:98%;
	/* background-color:pink; */
	margin:auto;
}
.free .free-container ul li{
	width:21%;
	margin:0 20px;
}
.free .free-container ul li img{
	display:inline-block;
	width:100%;
}
/* free  end */

/*main-history  start*/
.main-history{
	padding-bottom:105px;
	text-align:center;
	background-color:#f9f9f9;
}
.main-history h3{
	padding:200px 0 40px 0;
	font-size:40px;
	font-weight:100;
}
.main-history p{
	padding-bottom:90px;
	font-size:15px;
}
.main-history ul{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-content:space-between;
	width:90%;
	margin:auto;
}
.main-history ul li{
	width:30%;
	height:40%;
}
.main-history ul li a{
	display:block;
	width:100%;
}
.main-history ul li a img{
	width:100%;
}
.main-history>a{
	padding:10px 30px;
	background-color:#6eb0ff;
	font-size:16px;
	color:#fff;
	border-radius:35px;
	transition:background-color .5s;
}
.main-history>a:hover{
	background-color:#3ea3ff;
}
/* main-history  end */

/* main-service start */
.main-service{
	background-image:url('../images/31.jpg');
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	text-align:center;
	color:#fff;
}
.main-service h3{
	position:relative;
	padding:130px 0 55px 0;
	font-size:40px;
	font-weight:100;
}
.main-service h3:after{
	position:absolute;
	left:0;
	right:0;
	bottom:40px;
	margin:auto;
	content:'';
	display:block;
	width:60px;
	height:2px;
	background-color:#fff;
}
.main-service p{
	width:92%;
	margin:auto;
	padding-bottom:40px;
	font-size:16px;
}
.main-service img{
	
	width:900px;
	margin-bottom:155px;
}
/* main-service end */

/* .main-partner  start */
.main-partner{
	padding-bottom:115px;
	background-color:#f9f9f9;
	color:#626262;
	text-align:center;
}
.main-partner h3{
	font-size:38px;
	padding:190px 0 80px 0;
	font-weight:100;
}
.main-partner ul{
	display:flex;
	justify-content:space-between;
	width:90%;
	margin:auto;
}
.main-partner ul li{
	width:24%;
	border:1px solid #dbdbdb;
	box-sizing:border-box;
}
.main-partner ul li img{
	width:80%;
	padding:40px 0 30px 0;
}
.main-partner ul li p{
	font-size:16px;
}
.main-partner ul li span{
	font-size:14px;
}
/* .main-partner  end */

/* main-evaluate  start */
.main-evaluate{
	text-align:center;
}
.main-evaluate h3{
	max-width:1180px;
	padding:145px 0 25px 0;
	margin:auto;
	border-bottom:1px solid #ccc;
	font-size:40px;
	font-weight:100;
}
.main-evaluate p{
	line-height:40px;
	font-size:15px;
}
.main-evaluate ul{
	display:flex;
	max-width:1000px;
	flex-wrap:wrap;
	justify-content:space-between;
	margin:auto;
}
.main-evaluate ul li{
	width:25%;
}
.main-evaluate ul li img{
	width:90%;
	filter:grayscale(100%);
}
.main-evaluate ul li img:hover{
	filter:grayscale(0%);
}
/* main-evaluate  end */